<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="RoutA"
        class="RoutAProps"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label2"
                class="Label2Props mgFont1"
            >
                vRoutA</label>
                <mat-form-field class="vRoutAProps">
                    <div>
                        <input
                            matInput
                            magic="vRoutA"
                            formControlName="vRoutA"
                            pattern="^.{0,2}$"
                        >
                            <div *ngIf="(screenFormGroup.get('vRoutA').dirty) && (
screenFormGroup.get('vRoutA').hasError('pattern')
)">
                                <p>{{ showErrMsg('vRoutA') }}</p>
                            </div>
                    </div>
                    <!--
<button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
--></mat-form-field>
        </div>
        </div>
        </form>